/* Estilos de header */

.header {
  padding-top: 15px;
}

.nav-link {
  color: #000;
}

.cart {
  margin: auto 20px;
}

/* Banner */

.banner-background {
  background-color: #000;
}

.banner-content {
  margin: 60px auto;
  color: #fff;
}

.banner-title {
  line-height: 46px;
  margin-bottom: 24px;
}

.banner-subtitle {
  line-height: 32px;
  margin-bottom: 24px;
}

.banner-button {
  margin-bottom: 16px;
}

/* Footer */