/* Estilos generales */

body{
  margin: 0;
  display: grid;
  grid: auto;
  min-height: 100%;
}

footer{
  background: #212529;
  color: white;
  padding: 3em;
  margin-top: auto;
}

.home{
  background-color: #000;
  width: 100%;
}

.content-container {
  margin: 20px auto;
}

/* Estilos de header */

.logo {
  height: 4em;
  width: auto;
}

.icon-sm {
  height: 1.4em;
}

.nav-link {
  color: #000;
}

.navbar {
  font-weight: 600;
  padding-top: 2.5px;
  padding-bottom: 1px;
}

.navbar-collapse {
  padding: 10px;
}

.cart {
  margin: auto 20px;
}

.btn-dark {
  background-color: #000;
}

@media (min-width: 1200px) {
  .sections {
    position: relative;
    left: 90px;
  }

  .sections-secundary {
    position: relative;
    left: 50px;
  }
}

/* Banners */

.banner-background {
  background-image: url(../img/backgrounds/bakcground-three.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.banner-cuidadocorp-background {
  background-image: url(../img/backgrounds/background-one.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.banner-cuidadofac-background {
  background-image: url(../img/backgrounds/bakcground-three.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.banner-vitaminas-background {
  background-image: url(../img/backgrounds/suplementos.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.banner-new-background {
  background-image: url(../img/backgrounds/background-one.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.banner-trends-background {
  background-image: url(../img/backgrounds/facial.jpg);
  background-repeat: no-repeat;
  background-origin: content;
  background-size: cover;
  background-position: center center;
}

.mini-banner-background {
  background-color: #000;
}

.banner-content {
  margin: 60px auto;
  color: #fff;
}

.banner-content-secundary {
  margin: 40px auto;
  color: #fff;
}

.mini-banner-content {
  margin: 10px auto;
  color: #fff;
}

.banner-title {
  line-height: 46px;
  margin-bottom: 24px;
  text-shadow: 0px 0px 12px rgba(17, 0, 0, 0.6);
}

.banner-subtitle {
  line-height: 32px;
  margin-bottom: 24px;
  text-shadow: 0px 0px 12px rgba(17, 0, 0, 0.6);
}

.mini-title {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
}

.mini-title:hover {
  color: #63BD6A;
  text-decoration: none;
}

.banner-button {
  margin-bottom: 30px;
  text-shadow: 0px 0px 12px rgba(17, 0, 0, 0.6);
}

/* Info */

.info-card {
  width: 13em;
  margin: 1em 4em;
}

.info-img {
  height: 10em;
}

/* Footer */

.footer-background {
  background-color: #111111;
}

.footer-copyright{
  background-color: black;
}


/* Login y registro */

.logo-login {
  height: 4em;
  width: auto;
}

.formulario-login {
	background:url(../img/backgrounds/background-two.jpg);
	background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-registro{
  background: url(../img/backgrounds/background-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
}

.logo-galvanic-registro{
  padding-top: 10px;
}

/* Productos */

.product-card {
  margin: 20px;
}

.product-thumbnail {
  height: 18em;
}

/* Producto */

.product-title {
  font-size: 28px;
  color: #000;
}

.product-text {
  color: #000;
}

.product-link {
  color: #000;
  text-decoration: none;
}

.product-link:hover {
  color: #63BD6A;
  text-decoration: none;
}

/* Ventas */

.table .thead-dark th {
  background-color: #272727;
  border-color: #272727;
}

.table-sm {
  box-shadow: 0 3px 6px 0 rgba(17, 0, 0, 0.16);
}

/* Cart */

.cart-product {
  box-shadow: 0 3px 6px 0 rgba(17, 0, 0, 0.16);
}

.img-product {
  height: 140px;
  width: 140px;
}

.price-text {
  font-weight: 700;
}